build/
install/
run/
libtrixi-julia/
out/

# Ignore CMake files for bad users who do in-source builds
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Further ignore build products
libtrixi.mod
libtrixi.so*

# Documenter
docs/build

# VS Code
.vscode
